* {
  box-sizing: border-box;
}

body {
  margin: 0;
  border-top: 20px solid #0288D1;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 100%;
}

header {
  background-color: #03A9F4;
  margin: 0;
  padding: 7.5vh 5vw;
  box-shadow: 0 2px 6px rgba(0,0,0,0.2);
  position: relative;
}

h1 {
  color: #FFFFFF;
  font-size: 36px;
  font-weight: 300;
  margin: 0 0 .5vh;
  line-height: 1.5;
}

h2 {
  color: #B3E5FC;
  font-size: 18px;
  font-style: italic;
  font-weight: 200;
  line-height: 1.25;
  margin: 0;
}

article {
  background-color: #FFFFFF;
  color: #212121;
  height: 100vh;
  padding: 2.5vh 5vw;
}

button {
  background-color: #03A9F4 !important;
}

button span {
  color: #FFFFFF !important;
}

label {
  display: block;
  color: #B6B6B6;
  font-size: 15px;
  margin-bottom: 1vh;
}
